<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>

<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href='http://localhost:63342/ZavHoz-py/ZavHozOffice/hozoffice/templates/hozoffice/index.html' class="navbar-brand d-flex align-items-center">
        <strong>ZavHozOffice.online</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <form class="needs-validation" novalidate="">
        <h4 class="mb-3">Войти</h4>
        <hr>
        <div class="row g-3">


            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Введите свой логин" required="">
              <div class="invalid-feedback">
                  Your email is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Password</label>
              <input type="email" class="form-control" id="email" placeholder="Введите пароль">
              <div class="invalid-feedback"
                No Password
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit"><a href="http://localhost:63342/ZavHoz-py/ZavHozOffice/hozoffice/templates/hozoffice/worker_client/worker_index.html">Продолжить</a></button>

        </form>
        <a href="dontpassword.html">Забыли пароль?</a>
      </div>
  </section>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <hr>
    <p class="float-end mb-1">
      <a href="#">Наверх</a>
    </p>
    <p class="mb-1">Созданно студентами <a href="https://www.miit.ru/">РУТ МИИТ</a>, группа УИС-211 (2022-2023), в учебных и ознакомительных целях, по дисциплине "Проектная деятельность 4"</p>
  </div>
</footer>


  </body>
</html>