<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная - сотрудник банка</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>

<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href='http://localhost:63342/ZavHoz-py/ZavHozOffice/hozoffice/templates/hozoffice/index.html' class="navbar-brand d-flex align-items-center">
        <strong>ZavHozOffice.online</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <h1 class="fw-light">Здесь будет меню администратора пока воспользуйтесь <a href="http://127.0.0.1:8000/admin/">инструментами DJANGO</a></h1>

  </section>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <hr>
    <p class="float-end mb-1">
      <a href="#">Наверх</a>
    </p>
    <p class="mb-1">Созданно студентами <a href="https://www.miit.ru/">РУТ МИИТ</a>, группа УИС-211 (2022-2023), в учебных и ознакомительных целях, по дисциплине "Проектная деятельность 4"</p>
  </div>
</footer>


  </body>
</html>